# Verification

## <mark style="color:blue;">1. HHS(Hamilton Heater Shaker) Installation</mark>

### &#x20;   1-1. Prerequisite & Summary

*   Power off(plug out) the Seegene STARlet completely.

    \*If not, HHS and STARlet get damaged by the Electro-Static Discharge(ESD)

### &#x20;   1-2. Procedure

1. Remove the secured screw, 1ea to cover the dip switch on the bottom of the HHS.
2.  Make sure the dip switch points to No.5.

    \*Default setting is No. 5. If not, turn the arrow using a sharp tool.
3. Re-assemble the cover of the dip switch.
4. Assemble the HHS Plate on the bottom of the HHS using screws(PN: 403453), 4ea in total.
5. Remove the secured screws, 7ea in total to disassemble the cable cover.
6.  Install the HHS in position.

    \*Push gently in the direction toward the rear side to fit the hole.
7. Install the HHS Plate into a hole and tighten 2 screws(PN: 400263).
8. Push the HHS cable through the hole - right inside of the cable cover.
9.  Connect the HHS cable to TCC1 or TCC2 connector.

    \*Both are available.
10. Re-assemble the cable cover.



## <mark style="color:blue;">2. Cover Safety</mark>

1. Execute the 'Microlab STAR Maintenance & Verification program.
2. Select the checkbox for the 'Cover Safety Verification' in the Start Dialog window. Then, click 'OK'.
3. Conduct the 'Cover Safety Verification' following each step guide shown on the window.
4. If the 'Cover Safety Verification' is processed completely, the 'Cover Safety Report' will pop up automatically. Then, close it and click 'OK'

{% hint style="info" %}
Reports will be found in the directory (C:\Program Files\HAMILTON\System)
{% endhint %}

## <mark style="color:blue;">3. Barcode Reading</mark>

1. Execute the 'Microlab STAR Maintenance & Verification program.
2. Select the checkbox for the 'Barcode Verification' in the Start Dialog window. Then, click 'OK'.
3. Put the 'Environmental Conditions' measured by the 'Ambient Temperature and Humidity Measurement Tool' Then, click 'OK'
4. Put the 'Serial No.' and 'Calibration Date' of the 'Barcode Verification Carrier'. Then, click 'OK'
5.  Place the 'Barcode Verification Carrier' on the selected track until the stop hook.

    Then, click 'OK' and wait for the 'Barcode Verification' to be processed completely.
6. 'Barcode Verification Report' will pop up automatically. Then, close it and click 'OK'.

{% hint style="info" %}
Reports will be found in the directory (C:\Program Files\HAMILTON\System)
{% endhint %}

## <mark style="color:blue;">4. Positioning the 1000uL Pipetting Channels Verification</mark>

1. Execute the 'Microlab STAR Maintenance & Verification program.
2. Select the checkbox for the '1000μL Pipetting Channel Position Verification' in the Start Dialog window. Then, click 'OK'.
3. Put the 'Environmental Conditions' measured by the 'Ambient Temperature and Humidity Measurement Tool' Then, click 'OK'
4. Check if the Teaching Needles are in the Waste Block. Then, click 'OK'
5. Wait for the 'Barcode Verification' to be processed completely.
6. 'Position Verification Report' will pop up automatically. Then, close it and click 'OK'.

{% hint style="info" %}
Reports will be found in the directory (C:\Program Files\HAMILTON\System)
{% endhint %}

## <mark style="color:blue;">5. Shaker Orbit and Frequency for Hamilton Heater Shaker</mark>

1. Execute the 'Microlab STAR Maintenance & Verification program.
2. Select the checkbox for the 'Shaker Verification' in the Start Dialog window. Then, click 'OK'.
3. Check the 'Track / Site-Position', 'Status', 'Expiry Date', and 'Remark'. Then, select the checkbox for the 'Hamilton Heater Shaker' and click 'OK'
4. Put the 'Environmental Conditions' measured by the 'Ambient Temperature and Humidity Measurement Tool' Then, click 'OK'
5. Place the 'Shaking Measurement Tool onto 'Hamilton Heater Shaker' which is located on Deck Position, 'track 24' / 'site 1'. Then, click 'OK'
6. Wait for the 'Shaker Verification' to be processed completely.
7.  Remove the 'Shacking Measurement Tool' at the end of the 'Shaker Verification'.&#x20;

    'Shaker Verification Report' will pop up automatically. Then, close it and click 'OK'.

{% hint style="info" %}
Reports will be found in the directory (C:\Program Files\HAMILTON\System)
{% endhint %}

## <mark style="color:blue;">6. Temperature for Hamilton Heater Shaker</mark>

1. Execute the 'Microlab STAR Maintenance & Verification program.
2. Select the checkbox for the 'Temperature Verification' in the Start Dialog window. Then, click 'OK'.
3. Check the 'Track / Site-Position', 'Status', 'Expiry Date', and 'Remark'. Then, select the checkbox for the 'Hamilton Heater Shaker' and click 'OK'
4. Put the 'Environmental Conditions' measured by the 'Ambient Temperature and Humidity Measurement Tool' Then, click 'OK'
5. Wait for 20 min. for the Heating Up Phase.
6. After then, connect the IR Temperature Sensor cable to the USB Port of the PC.
7. Check or define the Calibration date. Then, click 'OK'
8. 'Temperature Verification Report' will pop up automatically. Then, close it and click 'OK'.
9. Wait for the 'Temperature Verification' to be processed completely.

{% hint style="danger" %}
At the end of the 'Temperature Verification', the surface still be hot!
{% endhint %}

{% hint style="warning" %}
If requested, perform the USB Driver(IR Sensor Driver) installation for the IR Temperature Sensor.

Note: Ignore the warning during installation.
{% endhint %}

{% hint style="warning" %}
If the 'Temperature Verification' failed, please repeat to conduct the 'Temperature Verification' until passed.
{% endhint %}

{% hint style="info" %}
Reports will be found in the directory (C:\Program Files\HAMILTON\System)
{% endhint %}

## <mark style="color:blue;">7. Volume Verification of 1000ul Pipetting Channels</mark>

1. Execute the 'Microlab STAR Maintenance & Verification program.
2. Select the checkbox for the 'Volume Verification 1000ul Pipetting Channels' in the Start Dialog window. Then, click 'OK'.
3. Put the 'Environmental Conditions' measured by the 'Ambient Temperature and Humidity Measurement Tool' Then, click 'OK'
4.





